{% extends 'base.html' %}
{% block content %}
<h1 class="text-center mb-3">{{question.question_text}}</h1>

{%if error_message %}
<p class="alert alert-danger">
    <strong>{{error_message}}</strong>
</p>
{% endif %}

<ul class="list-group mb-5">
    {% for choice in question.choice_set.all %}
        <li class="list-group-item">
            {{choice.choice_text}} <span class="badge bg-success float-right">
                {{choice.votes}} vote{{choices.votes | pluralize}} <!-- se tiver mais q um faz a pluralizacao da palavra -->
            </span>
        </li>
    {% endfor %}
    <input type="submit" value="Vote" class="btn btn-success btn-lg btn-block mt-4">
</ul>

<a class="btn btn-secondary" href="{% url 'polls:index' %}">Back to Polls</a>
<a class="btn btn-dark" href="{% url 'polls:detail' question.id %}">Vote Again</a>
{% endblock content %}
